/* Write your code here. */
.emoji-game-container {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.emoji-game-pic {
  align-items: center;
  float: 1;
}
.emoji-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 0px;
  max-width: 1000px;
}
